@import '../abstract/mixins';
@import '../abstract/variaveis';

header {
    background: $gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include ff-fs-cl($ft-textos, 1rem, $cor-primaria);
                font-weight: 500;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include margem-central(80%);
        // width: 80%;
        // margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            width: 464px;

            h1 {
                font-size: 40px;
                color: $cor-primaria;
                margin-bottom: 2rem;
                font-family: $ft-titulos;

                span {
                    color: $cor-secundaria;
                }
            }
        }

        .img-home {
            max-width: 474px;

            img {
                width: 100%;
            }
        }

        .btn-main {
            background-color: $cor-secundaria;
            color: $cor-quiternaria;
            font-family: $ft-btn;
            font-size: larger;
            @include style-btn(3.5rem, 12rem, none, 5.5rem, pointer)
        }

        .btn-main:hover {
            background-color: $cor-hover-btn;
        }
    }
}